<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [opened]="false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/home']"><mat-icon class="icon">home</mat-icon> Home</a>

      <a mat-list-item [routerLink]="['/company']"><mat-icon class="icon">list_alt_add</mat-icon> Company</a>
      <a mat-list-item [routerLink]="['/demand']"><mat-icon class="icon">list_alt_add</mat-icon> Demand</a>
      <a mat-list-item [routerLink]="['/trade']"><mat-icon class="icon">group_work</mat-icon> Trade</a>

      <a mat-list-item [routerLink]="['/demandFile']"><mat-icon class="icon">group_work</mat-icon>Demand File</a>

      <a mat-list-item [routerLink]="['/applicant']"><mat-icon class="icon">list_alt_add</mat-icon>Applicant</a>
      <a mat-list-item [routerLink]="['/FileContainer']"><mat-icon class="icon">group_work</mat-icon> File Component</a>

      <a mat-list-item [routerLink]="['/medicalCenter']"><mat-icon class="icon">group_work</mat-icon> Medical Center</a>
      <a mat-list-item [routerLink]="['/agent']"><mat-icon class="icon">group_work</mat-icon> Agent</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{appTitle}}</span>
      <span class="example-spacer"></span>
      <a mat-button style="color: white;" [routerLink]="['']">
        Home
      </a>

    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
